#titulo{
  margin-left: 270px;
  margin-top: 25px;
  font-size: 25px;
    
}
 
#espaciado{
    margin-left: 150px;
}
#espaciado2{
    margin-right: 150px;
}

button{
    width: 35px;
    height: 25px;
    margin-left: 15px;
    margin-bottom: 10px; 
}
